<a href="https://colab.research.google.com/github/AbiSyaibah/Data-Science/blob/main/WC_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import string
import pickle

In [3]:
all_tables=pd.read_html('https://id.wikipedia.org/wiki/Piala_Dunia_FIFA_2022#Babak_grup')

In [ ]:
all_tables[14]
all_tables[33]
all_tables[33+(33-14)]
all_tables[33+2*(33-14)]
all_tables[33+3*(33-14)]
all_tables[33+4*(33-14)]
all_tables[33+5*(33-14)]
all_tables[33+6*(33-14)]

   Pos         Timlbs  Main  M  S  K  MG  KG  SG  Poin           Kualifikasi
0    1       Portugal     3  2  0  1   6   4  +2     6  Lolos ke babak gugur
1    2  Korea Selatan     3  1  1  1   4   4   0     4  Lolos ke babak gugur
2    3        Uruguay     3  1  1  1   2   2   0     4                   NaN
3    4          Ghana     3  1  0  2   5   7  −2     3                   NaN

In [ ]:
alphabet=string.ascii_uppercase
print(alphabet)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [ ]:
dict_table={}

for letter,i in zip(alphabet, range(14,(33+6*(33-14)),(33-14))):
  df=all_tables[i]
  df.rename(columns={df.columns[1]:'Team'},inplace=True)
  df.pop('Kualifikasi')
  dict_table[f'Group {letter}']=df

In [ ]:
dict_table.keys()
dict_table['Group G']

   Pos     Team  Main  M  S  K  MG  KG  SG  Poin
0    1   Brasil     3  2  0  1   3   1  +2     6
1    2    Swiss     3  2  0  1   4   3  +1     6
2    3  Kamerun     3  1  1  1   4   4   0     4
3    4   Serbia     3  0  1  2   5   8  −3     1

In [1]:
with open('dict_table','wb') as output:
  pickle.dump(dict_table,output)

NameError: ignored